.footer {
    background-image: linear-gradient(to top, $footer-color, $body-color);
    color: white;
    @include padding_two_values(50px, 50px);
    .footer--margin {
        margin-top: 80px;
        margin-bottom: 0;
        .footer__form {
            .footer__form--title {
                color: $title-color;
                font-family: 'Hind Siliguri', sans-serif;
            }
            form {
                @include margin_two_values(20px, 20px);
                .footer__form--field {
                    @include margin_two_values(10px, 0);
                    .footer__form--label {
                        color: $label-color;
                        font-weight: 700;
                    }
                    .footer__form--input{
                        @include sizes(auto, 100%);
                    }
                    .footer__form--textarea{
                        @include sizes(auto, 100%);
                    }
                }
            }
        }
        .footer__img {
            @include sizes(auto, 300px);
            @include margin_two_values(auto, auto);
            /*Dynamic size to banner img*/
            @media (min-width: 575.98px) {
                .banner__item {
                    @include sizes(250px, auto)
                }
            }
            @media (min-width: 576px) {  
                .banner__item {
                    @include sizes(250px, auto)
                }
            }
            @media (min-width: 768px) {  
                .banner__item {
                    @include sizes(400px, auto)
                }
            }
            @media (min-width: 992px) { 
                .banner__item {
                    @include sizes(400px, auto)
                }
            }
            @media (min-width: 1200px) {  
                .banner__item {
                    @include sizes(400px, auto)
                }
            }
            :hover {
                animation: pulse;
                animation-duration: 5s;
            }
        }
    } 
}