.banner {
    padding: 10px;
    margin: $margin-between-sections;
    .banner__item {
        @include sizes(400px, auto)
    }
    /*Dynamic size to banner img*/
    @media (min-width: 576px) {
        .banner__item {
            @include sizes(250px, auto)
        }
    }
    @media (min-width: 544px) {  
        .banner__item {
            @include sizes(250px, auto)
        }
    }
    @media (min-width: 768px) {  
        .banner__item {
            @include sizes(400px, auto)
        }
    }
    @media (min-width: 992px) { 
        .banner__item {
            @include sizes(400px, auto)
        }
    }
    @media (min-width: 1200px) {  
        .banner__item {
            @include sizes(400px, auto)
        }
    }
}

.section {
    display: flex;
    justify-content: space-around;
    margin: $margin-between-sections;
    .section__text {
        @include sizes(auto, 500px);
        text-align: center;
    }
} 

.section__img {
    display: block;
    @include margin_two_values(50px, auto);
}

.section__img--compact {
    @extend .section__img;
    @include sizes(300px, 300px);
}


.areas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: $margin-between-sections;
    .areas__section {
        :hover {
            animation: pulse;
            animation-duration: 5s;
        }
        .areas__img{
            display: block;
            @include sizes(200px, 200px);
            @include margin_two_values(50px, auto);
        }
    }
}

.presentation {
    @include margin_two_values(50px, 50px);
}

.services {
    margin: $margin-between-sections;
    padding: 0 20px;
    .services__section {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        @include margin_two_values(10px, 10px);
        @include padding_two_values(10px, 10px);
        :hover {
            animation: pulse;
            animation-duration: 5s;
        }
        .services__img {
            @include sizes(200px, auto);
            @include margin_two_values(20px, auto);
        }
    }
}

.formWrapper {
    @include padding_two_values(0, 50px);
    .formWrapper__content {
        @include padding_two_values(20px, 20px);
        background-color: #b9e2f5;
    }
}

.map {
    display: flex;
    flex-flow: wrap column;
    margin: $margin-between-sections;
}

table {
    margin: 0 20px;
    th {
        color: #20639b;
        font-family: 'Varela Round', sans-serif;
    }
    td {
        color: #173f5f;
        font-family: 'Yanone Kaffeesatz', sans-serif;   
        .listInTable li {
          list-style-type: upper-latin;  
        }
    }
}

