#services{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px 20px;
}

.servicesWrapper {
    margin: 10px;
}

.servicesSection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.servicesSection:hover {
    animation: pulse;
    animation-duration: 5s;
}

.servicesSection img {
    height: 200px;
}


table {
    margin: 0 20px;
}

table th {
    color: #20639b;
    font-family: 'Varela Round', sans-serif;
}

table td {
    color: #173f5f;
    font-family: 'Yanone Kaffeesatz', sans-serif;   
}

table td .listInTable li {
  list-style-type: upper-latin;  
}

form {
    margin: 20px;
}

form label {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}