body {
  background-color: #dcf0fa;
  margin: 0; }
  body .header {
    background-color: #b9e2f5; }
    body .header .header__logo {
      height: auto;
      width: 100px;
      margin-left: 10px;
      height: 80px; }
    body .header .header__menuItem {
      text-transform: capitalize; }
    body .header .header__menuItem:hover {
      text-transform: uppercase;
      text-emphasis: initial; }
    body .header .header__rrss {
      margin: 20px; }
      body .header .header__rrss img {
        margin-left: 10px; }
  body .banner {
    padding: 10px 0;
    margin: 50px 0;
    /*Dynamic size to banner img*/ }
    body .banner .banner__item {
      height: 400px;
      width: auto; }
    @media (min-width: 575.98px) {
      body .banner .banner__item {
        height: 250px;
        width: auto; } }
    @media (min-width: 576px) {
      body .banner .banner__item {
        height: 250px;
        width: auto; } }
    @media (min-width: 768px) {
      body .banner .banner__item {
        height: 400px;
        width: auto; } }
    @media (min-width: 992px) {
      body .banner .banner__item {
        height: 400px;
        width: auto; } }
    @media (min-width: 1200px) {
      body .banner .banner__item {
        height: 400px;
        width: auto; } }
  body .section {
    display: flex;
    justify-content: space-around;
    margin: 50px 0; }
    body .section .section__text {
      height: auto;
      width: 500px;
      text-align: center; }
  body .section__img, body .section__img--compact {
    display: block;
    margin: 50px auto; }
  body .section__img--compact {
    height: 300px;
    width: auto; }
  body .areas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 50px 0; }
    body .areas .areas__section :hover {
      animation: pulse;
      animation-duration: 5s; }
    body .areas .areas__section .areas__img {
      display: block;
      height: 200px;
      width: 200px;
      margin: 50px auto; }
  body .presentation {
    margin: 50px 50px; }
  body .services {
    margin: 50px 0;
    padding: 0 20px; }
    body .services .services__section {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: 10px 10px;
      padding: 10px 10px; }
      body .services .services__section :hover {
        animation: pulse;
        animation-duration: 5s; }
      body .services .services__section .services__img {
        height: 200px;
        width: auto;
        margin: 20px auto; }
  body .formWrapper {
    padding: 0 50px; }
    body .formWrapper .formWrapper__content {
      padding: 20px 20px;
      background-color: #b9e2f5; }
  body .map {
    display: flex;
    flex-flow: wrap column;
    margin: 50px 0; }
  body table {
    margin: 0 20px; }
    body table th {
      color: #20639b;
      font-family: 'Varela Round', sans-serif; }
    body table td {
      color: #173f5f;
      font-family: 'Yanone Kaffeesatz', sans-serif; }
      body table td .listInTable li {
        list-style-type: upper-latin; }
  body .footer {
    background-image: linear-gradient(to top, #50b8e7, #dcf0fa);
    color: white;
    padding: 50px 50px; }
    body .footer .footer--margin {
      margin-top: 80px;
      margin-bottom: 0; }
      body .footer .footer--margin .footer__form .footer__form--title {
        color: #000000;
        font-family: 'Hind Siliguri', sans-serif; }
      body .footer .footer--margin .footer__form form {
        margin: 20px 20px; }
        body .footer .footer--margin .footer__form form .footer__form--field {
          margin: 10px 0; }
          body .footer .footer--margin .footer__form form .footer__form--field .footer__form--label {
            color: #3465a4;
            font-family: 'Yanone Kaffeesatz', sans-serif; }
          body .footer .footer--margin .footer__form form .footer__form--field .footer__form--input {
            height: auto;
            width: 100%; }
          body .footer .footer--margin .footer__form form .footer__form--field .footer__form--textarea {
            height: auto;
            width: 100%; }
      body .footer .footer--margin .footer__img {
        height: 300px;
        width: auto;
        margin: auto auto;
        /*Dynamic size to banner img*/ }
        @media (min-width: 575.98px) {
          body .footer .footer--margin .footer__img .banner__item {
            height: 250px;
            width: auto; } }
        @media (min-width: 576px) {
          body .footer .footer--margin .footer__img .banner__item {
            height: 250px;
            width: auto; } }
        @media (min-width: 768px) {
          body .footer .footer--margin .footer__img .banner__item {
            height: 400px;
            width: auto; } }
        @media (min-width: 992px) {
          body .footer .footer--margin .footer__img .banner__item {
            height: 400px;
            width: auto; } }
        @media (min-width: 1200px) {
          body .footer .footer--margin .footer__img .banner__item {
            height: 400px;
            width: auto; } }
        body .footer .footer--margin .footer__img :hover {
          animation: pulse;
          animation-duration: 5s; }
  body .title {
    color: #000000;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center; }
  body .subtitle {
    border-top: solid 1px black;
    padding: 10px 0;
    color: #49757f;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 30px; }
  body .descriptionText {
    color: #173f5f;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center; }
